html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --grey-100: #111;
  --accent: #9984f3;
}

code {
  color: var(--accent);
}

code::after,
code::before {
  content: '`';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
